<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo-project</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}">
</head>

<body>
    <div class="cont">

        <div>
        <div class="header">
            <h1>Forms</h1>
        </div>
            <a href="/logout" id="btn_log">logout</a>
        </div>

        <div class="box">
            
            {% for item in data %}


            <div class="list">
                <div class="top">
                            <div class="container">
                    <h1>{{item[0]}}</h1>
                </div>
                    <li>date:-{{item[1]}}</li>
                    </div>
                <div class="btn">
                        <a href="/see-content/{{item[2]}}/{{id}}">see</a>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>
</body>

</html>